.main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 5vw;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-self: flex-start;
	align-self: flex-start;
	position: sticky;
	flex: 1 2;
	top: 0;
	left: 0;
	padding: 2rem;
	max-width: 20rem;
	min-width: 15rem;
	height: 97.5vh;
	border-top-right-radius: 20px;
	background-color: var(--color-background);
}

.nav * {
	display: block;
	color: var(--color-link);
	text-decoration: none;
	line-height: 2;
}

.nav *:hover {
	text-decoration: underline;
	color: var(--color-link-hover);
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex: 2;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	height: 100%;
	padding: 2rem;
	row-gap: 1rem;
	max-width: 60vw;
	min-width: 20vw;
	backdrop-filter: blur(30px);
}

.description article {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--color-black);
	border-image: linear-gradient(
			90deg,
			var(--color-gray),
			var(--color-black),
			var(--color-gray)
		)
		1;
}

.description article h2 {
	line-height: 5rem;
}

.description article h3 {
	line-height: 3rem;
}

.description article p {
	line-height: 2rem;
	word-wrap: break-word;
}

.description a {
	color: var(--color-link);
	text-decoration: none;
	text-shadow: 1px 1px black;
}

.description a:hover {
	color: var(--color-link-hover);
	text-decoration: underline;
}

.description dt {
	display: list-item;
	margin-left: 2.5rem;
	padding: 0.3rem 0;
	list-style-type: disc;
}

.description dd {
	display: list-item;
	margin-left: 3.5rem;
	padding: 0.2rem 0;
	list-style-type: circle;
}

.description code {
	font-family: var(--font-mono);
	font-size: 1em;
	padding: 0.2em 0.4em;
	margin: 0 0.2rem;
	white-space: break-spaces;
	border-radius: 6px;
	color: var(--color-white);
	background-color: var(--color-black);
}

.description pre {
	padding: 0.5rem;
	margin: 0.5rem 0;
	overflow: auto;
	white-space: pre-wrap;
	line-height: 1.45;
	border-radius: 6px;
	max-width: 60vw;
	max-height: 50vh;
	background-color: var(--color-black);
}

.description pre code {
	padding: 0;
	margin: 0;
	overflow: visible;
	word-wrap: normal;
	white-space: pre-wrap;
	background-color: transparent;
}

.description table {
	border: 1px solid;
	border-collapse: collapse;
}

.description table th {
	border: 1px solid;
	padding: 0.3rem;
}

.description table td {
	border: 1px solid;
	padding: 0.3rem;
}

.footer {
	display: flex;
	flex-wrap: nowrap;
	position: sticky;
	width: 100%;
	height: 2.6vh;
	padding-top: 0.15rem;
	left: 0;
	bottom: 0;
	background-color: var(--color-background);
}

.footer p {
	display: inline;
	padding: 0 1rem;
	color: var(--color-white);
}
